.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  font-size: 1rem;
}

.pagination .page-num {
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: normal;
  color: #333;
  background-color: #dcdcdc;
  margin-right: 2px;
  margin-left: 2px;
}

.pagination .page-num:hover {
  color: black;
  background-color: #bbbbbb;
}

.prev-num-btn {
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
  color: black;
  background-color: #dcdcdc;
  margin-right: 10px;
}

.prev-num-btn:hover {
  background-color: #bbbbbb;
}

.next-num-btn {
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
  color: black;
  background-color: #dcdcdc;
  margin-left: 10px;
}

.next-num-btn:hover {
  background-color: #bbbbbb;
}

.pagination .activePage {
  text-decoration: bold;
  font-weight: 700;
  color: #333333;
  background-color: #fab414;
  height: 100%;
}

.pagination .activePage:hover {
  background-color: #fa9e14;
}

.pagination .breakLabel {
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: normal;
  color: #333;
  background-color: #dcdcdc;
  margin-right: 8px;
  margin-left: 8px;
}

.breakLabel:hover {
  background-color: #bbbbbb;
}
